.aside-profile {
            width: 800px;
            margin-top: 50px;
            display: flex;
            justify-content: space-between;
        }
.aside-profile-form {
    width: 500px;
}
.navItem {
    margin-bottom: 25px;
}
.link-aside {
    color: #fff;
    font-size: 20px;
}
.asidBar {
    border: none;
    width: 250px !important;
}